{% extends 'store/index.html' %}
{% load static %}

{% block content %}


<!-- Header -->
<section id="header" class="dark">
    
    <header>
        <h1>Welcome to Ferrari Art</h1>
        <p>This is the artwork section</p>
    </header>
    <footer>
        <a href="#first" class="button scrolly">Let's Explore</a>
    </footer>
    
</section>

<section class="spotlight style1 orient-right content-align-left image-position-center onscroll-image-fade-in" id="first">
    <div class="content">
        <h2>Ferrari Leading the Charge</h2>
        <p>The legendary Squadra Rossa lighting it up on track</p>
        
        <ul class="actions stacked">
            <li><a href="#" class="button">Order Now</a></li>
        </ul>
    </div>
    <div class="image">
        <img src="/media/art-2.jpg" alt="" />
    </div>
</section>

<section class="spotlight style1 orient-right content-align-left image-position-center onscroll-image-fade-in" id="first">
    <div class="content">
        <h2>Schumacher in Spain</h2>
        <p>Schumacher's majestic drive in Spain, now on canvas</p>
        
        <ul class="actions stacked">
            <li><a href="#" class="button">Order Now</a></li>
        </ul>
    </div>
    <div class="image">
        <img src="/media/schumi.jpg" alt="" />
    </div>
</section>

<section class="spotlight style1 orient-right content-align-left image-position-center onscroll-image-fade-in" id="first">
    <div class="content">
        <h2>A New Era</h2>
        <p>Sainz in the Scuderia Ferrari Mission Winnow car</p>
        
        <ul class="actions stacked">
            <li><a href="#" class="button">Order Now</a></li>
        </ul>
    </div>
    <div class="image">
        <img src="/media/sainz.jpg" alt="" />
    </div>
</section>



{% endblock %}