{% extends 'store/index.html' %}
{% load static %}

{% block content %}


<!-- Header -->
<section id="header" class="dark">
    
    <header>
        <h1>Welcome to Ferrari Art</h1>
        <p>This is the memorabilia section</p>
    </header>
    <footer>
        <a href="#first" class="button scrolly">Let's Explore</a>
    </footer>
    
</section>

<section class="spotlight style1 orient-right content-align-left image-position-center onscroll-image-fade-in" id="first">
    <div class="content">
        <h2>Schumacher's Piston Rod</h2>
        <p>Piston rod from Ferrari's 2000 car</p>
        
        <ul class="actions stacked">
            <li><a href="#" class="button">Order Now</a></li>
        </ul>
    </div>
    <div class="image">
        <img src="/media/sch-piston.jpg" alt="" />
    </div>
</section>

<section class="spotlight style1 orient-right content-align-left image-position-center onscroll-image-fade-in" id="first">
    <div class="content">
        <h2>Schumacher's Nosecone</h2>
        <p>The nose section from Ferrari's championship winning car</p>
        
        <ul class="actions stacked">
            <li><a href="#" class="button">Order Now</a></li>
        </ul>
    </div>
    <div class="image">
        <img src="/media/sch-nosecone.jpg" alt="" />
    </div>
</section>

<section class="spotlight style1 orient-right content-align-left image-position-center onscroll-image-fade-in" id="first">
    <div class="content">
        <h2>Leclerc Signed Helmet</h2>
        <p>Actual race helmet signed by Sharl Legreg</p>
        
        <ul class="actions stacked">
            <li><a href="#" class="button">Order Now</a></li>
        </ul>
    </div>
    <div class="image">
        <img src="/media/lec-helmet.jpg" alt="" />
    </div>
</section>


{% endblock %}