{% extends 'store/index.html' %}
{% load static %}

{% block content %}


<!-- Header -->
<section id="header" class="dark">
    
    <header>
        <h1>Welcome to Ferrari Art</h1>
        <p>This is the scale models section</p>
    </header>
    <footer>
        <a href="#first" class="button scrolly">Let's Explore</a>
    </footer>
    
</section>

<section class="spotlight style1 orient-right content-align-left image-position-center onscroll-image-fade-in" id="first">
    <div class="content">
        <h2>2002-04 model</h2>
        <p>Scale 1:10</p>
        
        <ul class="actions stacked">
            <li><a href="#" class="button">Order Now</a></li>
        </ul>
    </div>
    <div class="image">
        <img src="/media/2002.jfif" alt="" />
    </div>
</section>

<section class="spotlight style1 orient-right content-align-left image-position-center onscroll-image-fade-in" id="first">
    <div class="content">
        <h2>2014-16 model</h2>
        <p>Scale 1:10</p>
        
        <ul class="actions stacked">
            <li><a href="#" class="button">Order Now</a></li>
        </ul>
    </div>
    <div class="image">
        <img src="/media/2014.jfif" alt="" />
    </div>
</section>

<section class="spotlight style1 orient-right content-align-left image-position-center onscroll-image-fade-in" id="first">
    <div class="content">
        <h2>2018-20 model</h2>
        <p>Scale 1:10</p>
        
        <ul class="actions stacked">
            <li><a href="#" class="button">Order Now</a></li>
        </ul>
    </div>
    <div class="image">
        <img src="/media/2018.jfif" alt="" />
    </div>
</section>


{% endblock %}